<div class="add-users-content">
  <div class="headline">
    <h1>Leute hinzufügen</h1>
    <mat-icon class="close-btn" (click)="closeDialog()">close</mat-icon>
  </div>
  <div>
    <mat-radio-group [(ngModel)]="selectedOption" class="flex-column">
      <mat-radio-button value="allMembers" color="primary"
        >Alle Mitglieder von
        <span color="#535AF1">Office Team</span> hinzufügen</mat-radio-button
      >
      <mat-radio-button value="certainPeople" color="primary"
        >Bestimmte Leute hinzufügen</mat-radio-button
      ></mat-radio-group
    >
  </div>
  <div *ngIf="selectedOption === 'certainPeople'" class="input-container">
    <input type="text"
      placeholder="Namen eingeben"
      aria-label="Number"
      matInput
      [ngModel]="channelService.selectedUsers.join(', ')" 
      [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option [value]="user.displayName" *ngFor="let user of allUsers | async" [value]="user.displayName" (click)="channelService.selectUser(user.displayName)">
        {{ user.displayName }}
      </mat-option>
    </mat-autocomplete>
  </div>
  <div class="btn-container">
    <button [disabled]="!selectedOption" (click)="addUsers()">Erstellen</button>
  </div>
</div>
