.add-users-content {
  padding: 40px;
}

.headline {
  display: flex;
  justify-content: space-between;

  h1 {
    font-weight: 700;
    font-size: 1.5rem;
  }

  span {
    font-size: 1rem;
  }
}

.btn-container {
  display: flex;
  justify-content: flex-end;

  button {
    width: 125px;
    height: 49px;
    border-radius: 25px;
    padding: 12px 25px;
    background-color: #444df2;
    color: #ffff;
    font-size: 1.125rem;
    font-weight: 700;
    border: unset;
    transition: ease-in-out 125ms;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
      transition: ease-in-out 125ms;
    }
  }
}

.input-container {
  margin-bottom: 10px;

  input {
    border-radius: 30px;
    width: 600px;
    padding: 18px;
    border: 1px solid #adb0d9;
    transition: ease-in-out 125ms;

    &:hover {
      cursor: pointer;
      border: 1px solid #444df2;
      transition: ease-in-out 125ms;
    }

    &:focus {
      outline: none;
    }
  }
}

[disabled] {
  opacity: 0.5;
  cursor: not-allowed !important;

  &:hover {
    opacity: 0.5 !important;
  }
}
