<div class="direct-message-content">
  <div class="header">
    <div
      *ngIf="currentUserDetails"
      (click)="openProfileDetailsDialog()"
      class="headline align-center"
    >
      <img [src]="currentUserDetails.avatar || 'assets/img/81. Profile.png'" />
      <span>{{ currentUserDetails.displayName }}</span>
    </div>
  </div>

  <div class="message-content">
    <div class="messages-container">
      <ng-container *ngIf="messages$ | async as privateMessage">
        <ng-container *ngIf="privateMessage.length > 0; else noMessages">
          <div
            *ngFor="let message of privateMessage; let i = index"
            class="flex-end"
            [ngStyle]="{
              'align-items':
                message.displayName === authService.userData.displayName
                  ? 'flex-end'
                  : 'flex-start'
            }"
          >
            <ng-container
              *ngIf="i === 0 || isNewDate(privateMessage[i - 1], message)"
            >
              <div class="date-divider">
                <span>{{
                  channelService.getFormattedDateFromTimestamp(message.sentDate)
                }}</span>
              </div>
            </ng-container>

            <div
              [ngStyle]="{
                'flex-direction':
                  message.displayName === authService.userData.displayName
                    ? 'row-reverse'
                    : 'row'
              }"
              class="row-reverse"
            >
              <div>
                <img [src]="message.avatar || 'assets/img/81. Profile.png'" />
              </div>
              <div>
                <div
                  [ngStyle]="{
                    'flex-direction':
                      message.displayName !== authService.userData.displayName
                        ? 'row-reverse'
                        : 'row'
                  }"
                  class="author-with-date"
                >
                  <span>{{
                    channelService.getFormattedTimeFromTimestamp(
                      message.sentDate
                    )
                  }}</span>
                  <h3>{{ message.displayName }}</h3>
                </div>
                <span
                  class="message"
                  [ngStyle]="{
                    'background-color':
                      message.displayName !== authService.userData.displayName
                        ? '#eceefe'
                        : '',
                    color:
                      message.displayName !== authService.userData.displayName
                        ? 'black'
                        : ''
                  }"
                  >{{ message.text }}</span
                >
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <ng-template #noMessages>
      <div *ngIf="currentUserDetails" class="error-template">
        <div class="empty-msg">
          <img
            [src]="currentUserDetails.avatar || 'assets/img/81. Profile.png'"
          />
          <span
            >{{ currentUserDetails.displayName }}
            <span
              *ngIf="
                currentUserDetails.displayName ===
                authService.userData.displayName
              "
              >{{
                currentUserDetails.displayName ===
                authService.userData.displayName
                  ? "(Du)"
                  : ""
              }}</span
            ></span
          >
        </div>
        <p
          *ngIf="
            currentUserDetails.displayName !== authService.userData.displayName
          "
          class="grey-font"
        >
          Diese Unterhaltung findet nur zwischen
          <span (click)="openProfileDetailsDialog()" class="blue-font"
            >@{{ currentUserDetails.displayName }}</span
          >
          und dir statt.
        </p>
        <p
          class="grey-font"
          *ngIf="
            currentUserDetails.displayName === authService.userData.displayName
          "
        >
          <span style="font-weight: 700">Dieser Raum ist nur für dich da.</span>
          Mache dir Notizen, liste deine To-dos auf oder bewahre links und
          Dateien griffbereit auf. Du kannst hier auch gerne Dinge mit dir
          selbst besprechen.
        </p>
      </div>
    </ng-template>
  </div>

  <div class="text-editor">
    <textarea placeholder="Nachricht an {{ currentUserDetails?.displayName }}" [(ngModel)]="messageText"></textarea>
    <div class="add-elements">
      <mat-icon>add</mat-icon>
      <div class="divider"></div>
      <mat-icon (click)="selectEmoji()">sentiment_satisfied</mat-icon>
      <mat-icon>alternate_email</mat-icon>
    </div>
    <mat-icon class="send-btn" (click)="sendMessage()">send</mat-icon>
    <emoji-mart
      [isNative]="true"
      (emojiSelect)="addEmoji($event)"
      class="emoji-picker"
      *ngIf="pickEmoji"
      emoji="point_up"
      [darkMode]="false"
    ></emoji-mart>
  </div>
</div>
