<img class="daBubble-logo" src="assets/img/daBubble-logo.png" />
<div class="search-and-profile">
  <app-search></app-search>
  <app-profile></app-profile>
</div>
<div class="logo-and-profile-mobile">
  <img src="assets/img/daBubble-logo.png">
  <app-profile></app-profile>
</div>

<div class="main-content">
  <div class="side-menu-container">
    <app-side-menu></app-side-menu>
  </div>

  <div class="router-outlet" [class.gap-25]="isThreadRouteActive()">
    <router-outlet></router-outlet>
    <app-threads *ngIf="isThreadRouteActive()"></app-threads>
  </div>
</div>
