.daBubble-logo {
  position: absolute;
  top: 25px;
  left: 45px;
}

.main-content {
  display: flex;
  position: relative;
  top: 115px;
  margin-left: 20px;
  margin-right: 20px;
  gap: 20px;
}

.router-outlet {
  width: 100%;
}

.search-and-profile {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 25px;
  left: 467px;
  gap: 50px;
  width: calc(100% - 467px);
}

.gap-25 {
  display: flex;
  gap: 25px;
}

.logo-and-profile-mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  .router-outlet,
  .search-and-profile,
  .daBubble-logo {
    display: none;
  }

  .logo-and-profile-mobile {
    display: flex;
    justify-content: space-between;
    padding: 15px 16px;

    img {
      height: 45px;
    }
  }

  .main-content {
    top: unset;
    margin: unset;
  }
}
