<div class="new-message-container">
  <div class="header">
    <h2>Neue Nachricht</h2>
    <input
      placeholder="An: #channel, oder @jemand oder E-Mail Adresse"
      type="text"
      [matAutocomplete]="auto"
      (input)="searchChannels($event)"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        (click)="newMessageService.selectChannel(channel)"
        *ngFor="let channel of channelNames$ | async"
        [value]="'#' + channel"
      >
        #{{ channel }}
      </mat-option>
      <mat-option
        (click)="newMessageService.selectName(user)"
        *ngFor="let user of userNames$ | async"
        [value]="'@' + user"
      >
        @{{ user }}
      </mat-option>
    </mat-autocomplete>
  </div>
  <div class="text-editor">
    <textarea
      placeholder="Starte eine neue Nachricht"
      [(ngModel)]="newMessageService.newMessageText"
    ></textarea>
    <div class="add-elements">
      <mat-icon>add</mat-icon>
      <div class="divider"></div>
      <mat-icon>sentiment_satisfied</mat-icon>
      <mat-icon>alternate_email</mat-icon>
    </div>
    <mat-icon (click)="newMessageService.sendMessage()" class="send-btn"
      >send</mat-icon
    >
    <emoji-mart
      [isNative]="true"
      class="emoji-picker"
      *ngIf="pickEmoji"
      emoji="point_up"
      [darkMode]="false"
    ></emoji-mart>
  </div>
</div>
