<div class="add-channel-content flex-column gap-20">
  <div class="headline">
    <h1>Channel erstellen</h1>
    <mat-icon class="close-btn" (click)="closeDialog()">close</mat-icon>
  </div>
  <span
    >Channels dienen deinem Team zur Kommunikation. Am besten sollten sie
    themenbezogen sein #marketing zum Beispiel.</span
  >
  <form class="form-field flex-column gap-20">
    <div class="channel-name gap-20 flex-column">
      <span>Channel-Name</span>
      <input
        name="channelName"
        [(ngModel)]="channelService.channelName"
        placeholder="#  z.B. Kooperationsprojekte"
        type="text"
      />
    </div>
    <div class="description gap-20 flex-column">
      <span>Beschreibung</span>
      <input
        name="description"
        [(ngModel)]="channelService.description"
        placeholder="Dein Text hier"
        type="text"
      />
    </div>
  </form>
  <div class="btn-container">
    <button
      (click)="addChannel()"
      class="add-btn"
    >
      Erstellen
    </button>
  </div>
</div>
