<div class="add-channel-content flex-column gap-20">
  <h1>Channel erstellen</h1>
  <span
    >Channels dienen deinem Team zur Kommunikation. Am besten sollten sie
    themenbezogen sein #marketing zum Beispiel.</span
  >
  <div class="form-field flex-column gap-20">
    <div class="channel-name gap-20 flex-column">
      <span>Channel-Name</span>
      <input placeholder="#  z.B. Kooperationsprojekte" />
    </div>
    <div class="description gap-20 flex-column">
      <span>Beschreibung</span>
      <input placeholder="Dein Text hier" />
    </div>
  </div>
  <div class="btn-container">
    <button class="add-btn">Erstellen</button>
  </div>
</div>
