<div class="member-details-content flex-column">
  <div class="headline">
    <h2>Profil</h2>
    <mat-icon (click)="closeDialog()" class="close-btn">close</mat-icon>
  </div>
  <div class="img-container">
    <img [src]="profileDetails.avatar || 'assets/img/81. Profile.png'" />
  </div>
  <div class="name-and-active-status">
    <div class="flex-column gap-15">
      <div class="edit-and-name">
        <span class="name">{{ profileDetails.displayName }}</span>
        <span (click)="openEditMemberDialog()" class="edit">Bearbeiten</span>
      </div>

      <div class="active-status">
        <div
          [ngClass]="{
            'green-dot': profileDetails.activeState == 'Active',
            'grey-dot': profileDetails.activeState == 'Offline'
          }"
        ></div>
        <span
          [ngClass]="{
            'green-font': profileDetails.activeState == 'Active',
            'grey-font': profileDetails.activeState == 'Offline'
          }"
          >{{ profileDetails.activeState }}</span
        >
      </div>
    </div>
  </div>
  <div class="email-content">
    <div class="mail-address">
      <mat-icon>mail</mat-icon>
      <div class="flex-column">
        <span>E-Mail-Adresse</span>
        <a href="mailto:{{ profileDetails.email }}">{{
          profileDetails.email
        }}</a>
      </div>
    </div>
  </div>
</div>
