<div class="channel-details-content">
  <div class="header">
    <div class="channel-name">
      <mat-icon>tag</mat-icon>
      <h2>{{ this.data.channelDetails.channelName }}</h2>
    </div>
    <mat-icon (click)="closeDialog()" class="close-btn">close</mat-icon>
  </div>
  <div [ngClass]="{ 'border-box': !openEditName }" class="flex-column gap">
    <div class="space-between">
      <span class="font-size-and-weight">Channel-Name</span>
      <span
        *ngIf="openEditName === false"
        (click)="editChannelName()"
        class="edit"
        >Bearbeiten</span
      >
      <span (click)="saveChannelName()" *ngIf="openEditName === true" class="edit">Speichern</span>
    </div>
    <div class="tag-and-name">
      <mat-icon *ngIf="openEditName === false">tag</mat-icon
      ><span *ngIf="openEditName === false">{{
        this.data.channelDetails.channelName
      }}</span>
    </div>
    <input [(ngModel)]="channelName"
      *ngIf="openEditName === true"
      type="text"
      placeholder="{{ this.data.channelDetails.channelName }}"
    />
  </div>
  <div
    [ngClass]="{ 'border-box': !openEditDescription }"
    class="flex-column gap"
  >
    <div class="space-between">
      <span class="font-size-and-weight">Beschreibung</span>
      <span
        *ngIf="openEditDescription === false"
        (click)="editChannelDescription()"
        class="edit"
        >Bearbeiten</span
      >
      <span (click)="saveChannelDescription()" *ngIf="openEditDescription === true" class="edit">Speichern</span>
    </div>
    <span class="tag-and-name">{{ this.data.channelDetails.description }}</span>
    <input [(ngModel)]="channelDescription"
      *ngIf="openEditDescription === true"
      type="text"
      placeholder="Dein Text hier"
    />
    <mat-divider></mat-divider>
    <div class="created-by">
      <span class="font-size-and-weight">Erstellt von</span>
      <span class="creator-name">{{ this.data.channelDetails.createdBy }}</span>
    </div>
  </div>
  <div class="btn-container">
    <button>Channel verlassen</button>
  </div>
</div>
