<div class="side-menu">
  <div class="header">
    <img src="assets/img/Workspace-logo.png" />
    <span>Code learning</span>
    <mat-icon>edit_square</mat-icon>
  </div>

  <div class="gap-25 flex-column">
    <div class="channels">
      <div class="drop-down">
        <div class="drop-down-channel">
          <div class="title">
            <mat-icon>arrow_drop_down</mat-icon><mat-icon>workspaces</mat-icon>
            <span>Channels</span>
          </div>
        </div>
        <mat-icon (click)="openAddChannelDialog()" class="add-btn">add</mat-icon>
      </div>
      <div *ngFor="let channel of channels | async" class="align-center channel-names" [routerLink]=" channel.id">
        <mat-icon>tag</mat-icon><span>{{ channel.channelName }}</span>
      </div>
      <div (click)="openAddChannelDialog()" class="align-center add-channel">
        <mat-icon>add_circle</mat-icon><span>Channel hinzufügen</span>
      </div>
    </div>
    <div class="direct-messages">
      <div class="drop-down">
        <div class="drop-down-channel">
          <div class="title">
            <mat-icon>arrow_drop_down</mat-icon><mat-icon>workspaces</mat-icon>
            <span>Direktnachrichten</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
