.login-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  display: flex;
  align-items: center;
  height: 769px;
  width: 606px;
  border-radius: 30px;
  gap: 52px;
  background-color: #ffff;

  mat-card-header {
    margin-top: 18px;

    h1 {
      color: #444df2;
      font-size: 2.8rem;
      font-weight: 700;
    }
  }

  mat-card-content {
    .login-form {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 25px;

      input {
        width: 400px;
        border-radius: 100px;
        padding: 18px 50px;
        border: unset;
        background-color: #eceefe;

        &:hover {
          cursor: pointer;
          border: 1px solid black;
        }

        &:focus {
          outline: 1px solid #444df2;
        }
      }

      .background-email {
        background-image: url("/../assets/img/mail.png");
        background-position: 5px center;
        background-position-x: 25px;
        background-repeat: no-repeat;
      }

      .background-password {
        background-image: url("/../assets/img/lock.png");
        background-position: 5px center;
        background-position-x: 25px;
        background-repeat: no-repeat;
      }

      a {
        text-decoration: none;
        text-align: center;
        height: 22px;
        width: 177px;

        &:hover {
          background-color: #eceefe;
          border-radius: 100px;
        }
      }
    }
  }

  .divider {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .divider::before,
  .divider::after {
    content: "";
    height: 1px;
    background-color: #adb0d9;
    flex-grow: 1;
    width: 200px;
  }

  .divider::before {
    margin-right: var(--text-divider-gap);
  }

  .divider::after {
    margin-left: var(--text-divider-gap);
  }

  .login-with-google-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 60px;
    border-radius: 100px;
    gap: 10px;
    border: unset;
    background-color: #eceefe;
    transition: ease-in-out 75ms;

    &:hover {
      cursor: pointer;
      border: 1px solid #444df2;
      transform: scale(1.015);
      transition: ease-in-out 75ms;
    }
  }

  .login-btn-container {
    display: flex;
    gap: 30px;

    .login-btn {
      background-color: #444df2;
      color: #ffff;
      border: unset;
      border-radius: 25px;
      padding: 12px 25px;
      font-weight: 700;
      transition: ease-in-out 75ms;

      &:hover {
        cursor: pointer;
        opacity: 0.6;
        transition: ease-in-out 75ms;
      }
    }

    .guest-btn {
      color: #444df2;
      background-color: #ffff;
      border-radius: 25px;
      border: 1px solid #444df2;
      font-weight: 700;
      transition: ease-in-out 75ms;

      &:hover {
        cursor: pointer;
        background-color: #444df2;
        color: #ffff;
        transition: ease-in-out 75ms;
      }
    }
  }
}

.sign-up-container {
  position: absolute;
  right: 55px;
  top: 25px;
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 12px;

  a {
    text-decoration: none;
  }
}

.logo-container {
  position: absolute;
  top: 25px;
  left: 25px;

  img {
    height: 45px;
  }
}

button[disabled] {
  cursor: not-allowed !important;
  opacity: 0.6;
}

.daBubble-intro {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  background: linear-gradient(rgba(49, 58, 229, 1), rgba(121, 126, 243, 1));
  animation: intro 1.5s linear forwards;

  img {
    height: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: intro-img 1.5s linear forwards;
  }
}

@keyframes intro {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes intro-img {
  0% {
    top: 50%;
    left: 50%;
    height: 184px;
  }
  100% {
    top: 25px;
    left: 25px;
    height: 45px;
  }
}

@media screen and (max-width: 1000px) {
  mat-card {
    width: 590px;
  }

  .logo-container {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 25px;
    left: 0;
    right: 0;
  }

  .sign-up-container {
    top: unset;
    align-items: center;
    bottom: 20px;
    right: 0;
    left: 0;
  }

  .daBubble-intro {
    img {
      height: 45px;
      position: absolute;
      top: 25px;
      left: 50%;
      animation: intro-img-mobile 1.5s linear forwards;
    }
  }
}

@keyframes intro-img-mobile {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 184px;
  }
  100% {
    top: 25px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 45px;
  }
}

@media screen and (max-width: 540px) {
  mat-card {
    height: 565px;
    width: 530px;
    gap: 30px;

    mat-card-header {
      h1 {
        margin: unset;
      }
    }

    mat-card-subtitle {
      color: black;
    }
  }

  .logo-container {
    top: 17px;
  }

  .sign-up-container {
    bottom: 15px;
  }
}

@media screen and (max-width: 480px) {
  mat-card {
    height: 560px;
    width: 530px;
    gap: 25px;

    mat-card-content {
      .login-form {
        gap: 20px;

        input {
          width: 365px;
        }
      }
    }

    .login-with-google-btn {
      width: 465px;
    }
  }

  .logo-container {
    top: 25px;
  }

  .sign-up-container {
    bottom: 20px;
  }
}

@media screen and (max-width: 414px) {
  mat-card {
    height: 495px;
    width: 345px;
    gap: 22px;

    mat-card-header {
      margin-top: 5px;

      h1 {
        font-size: 2.5rem;
      }
    }

    mat-card-subtitle {
      font-size: 0.9rem;
    }

    mat-card-content {
      .login-form {
        gap: 15px;

        input {
          width: 240px;
        }
      }
    }

    .login-with-google-btn {
      width: 340px;
    }

    .divider::before,
    .divider::after {
      width: 140px;
    }
  }

  .logo-container {
    top: 13px;
  }

  .sign-up-container {
    bottom: 10px;
  }
}

@media screen and (max-width: 360px) {
  mat-card {
    height: 495px;
    width: 345px;
    gap: 22px;

    mat-card-header {
      margin-top: 5px;

      h1 {
        font-size: 2.5rem;
        margin: unset;
      }
    }

    mat-card-content {
      .login-form {
        gap: 15px;

        input {
          width: 240px;
        }
      }
    }

    .login-with-google-btn {
      width: 340px;
    }

    .divider::before,
    .divider::after {
      width: 140px;
    }
  }

  .logo-container {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 13px;
    left: 0;
    right: 0;
  }

  .sign-up-container {
    bottom: 10px;
  }
}

@media screen and (max-width: 320px) {
  mat-card {
    height: 360px;
    width: 305px;
    gap: 5px;

    mat-card-header {
      margin-top: 5px;

      h1 {
        font-size: 2rem;
        margin: unset;
      }
    }

    mat-card-subtitle {
      font-size: 0.7rem;
    }

    mat-card-content {
      .login-form {
        input {
          width: 200px;
          height: 5px;
        }
      }
    }

    .login-with-google-btn {
      width: 300px;
      height: 35px;
    }

    .divider::before,
    .divider::after {
      width: 120px;
    }
  }

  .logo-container {
    top: 7px;
  }

  .sign-up-container {
    bottom: 0;
  }
}

@media screen and (max-width: 280px) {
  mat-card {
    height: 445px;
    width: 270px;
    gap: 12px;

    mat-card-content {
      .login-form {
        input {
          width: 165px;
        }
      }
    }

    .login-with-google-btn {
      width: 265px;
      height: 50px;
    }

    .divider::before,
    .divider::after {
      width: 100px;
    }
  }

  .logo-container {
    top: 28px;
  }

  .sign-up-container {
    bottom: 25px;
  }
}
