<div class="member-details-content flex-column">
  <div class="headline">
    <h2>Profil</h2>
    <mat-icon (click)="closeDialog()" class="close-btn">close</mat-icon>
  </div>
  <div class="img-container">
    <img [src]="memberDetails.avatar || 'assets/img/81. Profile.png'" />
  </div>
  <div class="name-and-active-status">
    <div class="flex-column gap-15">
      <span class="name">{{ memberDetails.displayName }}</span>
      <div class="active-status">
        <div
          [ngClass]="{
            'green-dot': memberDetails.activeState == 'Active',
            'grey-dot': memberDetails.activeState == 'Offline'
          }"
        ></div>
        <span
          [ngClass]="{
            'green-font': memberDetails.activeState == 'Active',
            'grey-font': memberDetails.activeState == 'Offline'
          }"
          >{{ memberDetails.activeState }}</span
        >
      </div>
    </div>
  </div>
  <div class="email-content">
    <div class="mail-address">
      <mat-icon>mail</mat-icon>
      <div class="flex-column">
        <span>E-Mail-Adresse</span>
        <a href="mailto:{{ memberDetails.email }}">{{ memberDetails.email }}</a>
      </div>
    </div>
  </div>
  <div class="btn-container">
    <button (click)="newMessageToUser(memberDetails.displayName)">
      <mat-icon>mode_comment</mat-icon>Nachricht
    </button>
  </div>
</div>
