.member-dialog-content {
  padding: 40px;
  gap: 20px;
}

.headline {
  display: flex;
  justify-content: space-between;

  h2 {
    margin: unset;
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.members {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 4px 20px;
  border-radius: 30px;
  transition: ease-in-out 75ms;

  span {
    font-size: 1.125rem;
  }

  img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
  }

  &:hover {
    cursor: pointer;
    background-color: #eceefe;
    transition: ease-in-out 75ms;
  }
}

.add-members {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px 29px;
  border-radius: 30px;
  transition: ease-in-out 125ms;

  span {
    font-size: 1.125rem;
  }

  mat-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    background-color: #eceefe;
    border-radius: 100%;
    position: relative;
    transition: ease-in-out 75ms;
  }

  &:hover {
    cursor: pointer;
    color: #535af1;
    background-color: #eceefe;
    transform: scale(1.05);
    transition: ease-in-out 75ms;
  }
}
