<div class="member-dialog-content flex-column">
  <div class="headline">
    <h2>Mitglieder</h2>
    <mat-icon class="close-btn" (click)="closeDialog()">close</mat-icon>
  </div>

  <div (click)="openMemberDetails(member)" *ngFor="let member of channelService.allChannelMembers" class="members">
    <img [src]="member.avatar || 'assets/img/81. Profile.png'" />
    <span
      >{{ member.displayName
      }}{{
        member.displayName === authService.userData.displayName ? " (Du)" : ""
      }}</span
    >
  </div>

  <div (click)="openAddMemberDialog()" class="add-members">
    <mat-icon>person_add</mat-icon>
    <span>Mitglieder hinzufügen</span>
  </div>
</div>
