<div class="thread-content">
  <div class="header">
    <div class="align-center">
      <h2>Thread</h2>
      <div class="channelName-tag align-center">
        <mat-icon>tag</mat-icon>
        <span>{{ channelService.currentChannel.channelName }}</span>
      </div>
    </div>
    <mat-icon (click)="closeThread()" class="close-btn">close</mat-icon>
  </div>

  <div *ngFor="let message of currentMessage" class="message-content">
    <div class="messages-container">
      <div
        class="flex-end"
        [ngStyle]="{
          'align-items':
            message.messagedAuthor === authService.userData.displayName
              ? 'flex-end'
              : 'flex-start'
        }"
      >
        <div
          class="messages-main-chat"
          [ngClass]="{
              'row-reverse': message.messagedAuthor === authService.userData.displayName,
              'row': message.messagedAuthor !== authService.userData.displayName,
            }"
        >
          <div>
            <img [src]="message.avatar || 'assets/img/81. Profile.png'" />
          </div>
          <div>
            <div
              [ngClass]="{
                'row-reverse':
                  message.messagedAuthor !== authService.userData.displayName,
                row: message.messagedAuthor === authService.userData.displayName
              }"
              class="author-with-date"
            >
              <span>{{
                channelService.getFormattedTimeFromTimestamp(
                  message.createdDate
                )
              }}</span>
              <h3>{{ message.messagedAuthor }}</h3>
            </div>
            <span
              [ngClass]="{
                'message-right':
                  message.messagedAuthor === authService.userData.displayName,
                'message-left':
                  message.messagedAuthor !== authService.userData.displayName
              }"
              >{{ message.channelMessage }}</span
            >
          </div>
        </div>
        <div class="divider-container">
          <span>{{ answerCount }} Antworten</span>
          <div class="answer-divider"></div>
        </div>
        <div
          *ngFor="let answer of allThreadAnswers"
          class="flex-end width-100"
          [ngStyle]="{
            'align-items':
              answer.messagedAuthor === authService.userData.displayName
                ? 'flex-end'
                : 'flex-start'
          }"
        >
          <div
            class="messages-main-chat"
            [ngClass]="{
                'row-reverse': answer.messagedAuthor === authService.userData.displayName,
                'row': answer.messagedAuthor !== authService.userData.displayName,
              }"
          >
            <div>
              <img [src]="answer.avatar || 'assets/img/81. Profile.png'" />
            </div>
            <div>
              <div
                [ngClass]="{
                  'row-reverse':
                    answer.messagedAuthor !== authService.userData.displayName,
                  row:
                    answer.messagedAuthor === authService.userData.displayName
                }"
                class="author-with-date"
              >
                <span>{{
                  channelService.getFormattedTimeFromTimestamp(
                    answer.createdDate
                  )
                }}</span>
                <h3>{{ answer.messagedAuthor }}</h3>
              </div>
              <span
                [ngClass]="{
                  'message-right':
                    answer.messagedAuthor === authService.userData.displayName,
                  'message-left':
                    answer.messagedAuthor !== authService.userData.displayName
                }"
                [innerHTML]="
                  channelService.formatMessage(answer.channelMessage)
                "
              ></span>
            </div>
          </div>
        </div>
      </div>

      <div class="text-editor-thread">
        <textarea
          [(ngModel)]="threadService.message"
          placeholder="Nachricht an #{{
            this.channelService.currentChannel?.channelName
          }}"
        ></textarea>
        <div class="add-elements">
          <mat-icon>add</mat-icon>
          <div class="divider"></div>
          <mat-icon (click)="textEditorService.selectEmojiThread()"
            >sentiment_satisfied</mat-icon
          >
          <mat-icon (click)="textEditorService.toggleUserListThread()"
            >alternate_email</mat-icon
          >
        </div>
        <mat-icon (click)="sendMessage()" class="send-btn">send</mat-icon>
        <emoji-mart
          [isNative]="true"
          (emojiSelect)="textEditorService.addEmojiThread($event)"
          class="emoji-picker"
          *ngIf="textEditorService.pickEmojiThread"
          emoji="point_up"
          [darkMode]="false"
        ></emoji-mart>
      </div>
    </div>
  </div>
  <div class="user-list" *ngIf="textEditorService.showUserListThread">
    <ul>
      <li
        *ngFor="let username of channelService.allChannelMembers"
        (click)="textEditorService.addUserToMessageThread(username.displayName)"
      >
        @{{ username.displayName }}
      </li>
    </ul>
  </div>
</div>
