.channel-content {
  height: 715px;
  border-radius: 30px;
  background-color: #ffff;
  padding: 32px 30px;
}

.header {
  display: flex;

  .headline {
    display: flex;
    gap: 10px;
    padding: 6px 10px;
    transition: ease-in-out 125ms;

    &:hover {
      cursor: pointer;
      background-color: #eceefe;
      color: #535af1;
      border-radius: 20px;
      transition: ease-in-out 125ms;
    }

    span {
      font-size: 1.5rem;
      font-weight: 700;
    }
  }
}

.text-editor {
  position: relative;
  top: 535px;

  textarea {
    height: 145px;
    border-radius: 20px;
    border: 1px solid #adb0d9;
    width: 100%;
    resize: none;
    font-size: 1.125rem;
    padding: 20px;
    box-sizing: border-box;

    &:focus {
      outline: none;
    }
  }

  .send-btn {
    color: #444df2;
    position: absolute;
    bottom: 25px;
    right: 15px;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}

.add-elements {
  display: flex;
  position: absolute;
  bottom: 25px;
  left: 15px;
  gap: 5px;
  transition: ease-in-out 125ms;

  mat-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    color: #686868;

    &:hover {
      cursor: pointer;
      color: #444df2;
      background-color: #eceefe;
      border-radius: 100%;
      transition: ease-in-out 125ms;
    }
  }

  .divider {
    height: 40px;
    border: 1px solid #ADB0D9;
  }
}
