<div class="channel-content">
  <div class="header">
    <div class="headline align-center">
      <mat-icon>tag</mat-icon><span>{{ currentChannel?.channelName }}</span>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
  </div>
  <div class="text-editor">
    <textarea placeholder="Nachricht an #{{ currentChannel?.channelName }}"></textarea>
    <div class="add-elements">
      <mat-icon>add</mat-icon>
      <div class="divider"></div>
      <mat-icon>sentiment_satisfied</mat-icon>
      <mat-icon>alternate_email</mat-icon>
    </div>
    <mat-icon class="send-btn">send</mat-icon>
  </div>
</div>
