<div class="channel-content">
  <div class="header">
    <div
      (click)="openChannelDetails()"
      class="headline align-center"
      [class.dialog-opened]="isChannelDetailsDialogOpen"
    >
      <mat-icon>tag</mat-icon
      ><span>{{ this.channelService.currentChannel?.channelName }}</span>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
    <div class="add-members">
      <div
        (click)="openShowMembersDialog()"
        class="members-preview"
        [class.dialog-opened]="isMembersDialogOpen"
      >
        <img src="assets/img/Members preview.png" />
        <span>{{ memberNumber }}</span>
      </div>
      <mat-icon (click)="openAddMemberDialog()">person_add</mat-icon>
    </div>
  </div>
  <div class="message-content">
    <div class="messages-container">
      <div
        *ngFor="let message of allMessages; let i = index"
        class="flex-end"
        [ngStyle]="{
          'align-items':
            message.messagedAuthor === authService.userData.displayName
              ? 'flex-end'
              : 'flex-start'
        }"
      >
        <ng-container>
          <ng-container
            *ngIf="i === 0 || isNewDate(allMessages[i - 1], message)"
          >
            <div class="date-divider">
              <span>{{
                channelService.getFormattedDateFromTimestamp(
                  message.createdDate
                )
              }}</span>
            </div>
          </ng-container>

          <div
            (mouseenter)="toggleShowElements(message)"
            (mouseleave)="toggleShowElements(message)"
            class="messages-main-chat"
            [ngClass]="{
            'row-reverse': message.messagedAuthor === authService.userData.displayName,
            'row': message.messagedAuthor !== authService.userData.displayName,
          }"
            [ngStyle]="{ 'height.px': message.editMsg ? 131 : 'auto' }"
          >
            <div
              class="reaction-elements"
              *ngIf="message.showElements"
              [ngClass]="{
                'reaction-elements-left':
                  message.messagedAuthor === authService.userData.displayName,
                'reaction-elements-right':
                  message.messagedAuthor !== authService.userData.displayName
              }"
            >
              <mat-icon (click)="toggleReactionPicker()" class="close-btn"
                >add_reaction</mat-icon
              >
              <mat-icon
                class="close-btn"
                (click)="
                  threadService.createThreadChat(
                    currentChannelID,
                    message.messageID
                  )
                "
                [routerLink]="'thread/' + message.messageID"
                >comment</mat-icon
              >
              <mat-icon
                (click)="toggleEditMessage(message)"
                mat-icon-button
                *ngIf="
                  message.messagedAuthor === authService.userData.displayName
                "
                class="close-btn"
                >more_vert</mat-icon
              >
              <div class="edit-message" *ngIf="message.showEditMessage">
                <button (click)="textEditorService.editMessage(message)">
                  Nachricht bearbeiten
                </button>
              </div>
              <emoji-mart
                [isNative]="true"
                (emojiClick)="
                  emojiService.addReaction(
                    $event,
                    this.currentChannelID,
                    message.messageID
                  )
                "
                class="emoji-reaction-picker"
                *ngIf="emojiService.pickEmojiReaction"
                emoji="point_up"
                [darkMode]="false"
              ></emoji-mart>
            </div>
            <div>
              <img [src]="message.avatar || 'assets/img/81. Profile.png'" />
            </div>
            <div>
              <div
                [ngClass]="{
                  'row-reverse':
                    message.messagedAuthor === authService.userData.displayName,
                  row:
                    message.messagedAuthor !== authService.userData.displayName,
                  'd-none': message.editMsg
                }"
                class="author-with-date"
              >
                <span>{{
                  channelService.getFormattedTimeFromTimestamp(
                    message.createdDate
                  )
                }}</span>
                <h3>{{ message.messagedAuthor }}</h3>
              </div>
              <span
                [ngClass]="{
                  'message-right':
                    message.messagedAuthor === authService.userData.displayName,
                  'message-left':
                    message.messagedAuthor !== authService.userData.displayName,
                  'd-none': message.editMsg
                }"
                ><ng-container *ngIf="message.imageUrl">
                  <img
                    class="channel-image"
                    [src]="message.imageUrl"
                    alt="Bild"
                  />
                </ng-container>
                <ng-container *ngIf="message.channelMessage">
                  <span
                    [innerHTML]="
                      channelService.formatMessage(message.channelMessage)
                    "
                  ></span>
                </ng-container>
              </span>
              <div *ngIf="message.editMsg" class="text-editor-edit-msg">
                <textarea [(ngModel)]="message.channelMessage"></textarea>
                <div class="edit-btn-container">
                  <button
                    (click)="textEditorService.cancelEdit(message)"
                    class="cancel-btn"
                  >
                    Abbrechen</button
                  ><button
                    (click)="
                      editMsgInFirestore(
                        message.messageID,
                        message.channelMessage
                      )
                    "
                    class="save-btn"
                  >
                    Speichern
                  </button>
                </div>
                <div class="add-elements">
                  <mat-icon (click)="textEditorService.selectEmojiEditMsg()"
                    >sentiment_satisfied</mat-icon
                  >
                </div>
                <emoji-mart
                  [isNative]="true"
                  (emojiSelect)="
                    textEditorService.addEmojiEditMsg($event, message)
                  "
                  class="emoji-picker"
                  *ngIf="textEditorService.pickEmojiEditMsg"
                  emoji="point_up"
                  [darkMode]="false"
                ></emoji-mart>
              </div>
              <div *ngIf="message.reactions">
                <div
                  [ngClass]="{
                    'bubble-end':
                      message.messagedAuthor ===
                      authService.userData.displayName,
                    'bubble-start':
                      message.messagedAuthor !==
                      authService.userData.displayName
                  }"
                  class="reactions-container"
                >
                  <div
                    *ngFor="let reaction of message.reactions"
                    class="reaction-bubble"
                  >
                    {{ reaction.emoji }} {{ reaction.count }}
                  </div>
                </div>
              </div>

              <div
                [ngClass]="{ 'd-none': message.editMsg }"
                class="answer-count-container"
                *ngIf="message.answerCount"
              >
                <span
                  (click)="
                    threadService.createThreadChat(
                      currentChannelID,
                      message.messageID
                    )
                  "
                  [routerLink]="'thread/' + message.messageID"
                  class="answer-count"
                  >{{ message.answerCount }} Antworten</span
                ><span class="last-answer"
                  >Letzte Antwort
                  {{
                    channelService.getFormattedTimeFromTimestamp(
                      message.lastAnswer
                    )
                  }}</span
                >
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <input
    style="display: none"
    #fileInput
    type="file"
    accept="image/*"
    (change)="channelService.onFileSelected($event)"
  />
  <div class="text-editor">
    <div class="selected-image-banner" *ngIf="channelService.selectedFile">
      <img src="assets/img/jpg-32.png" />
      {{ channelService.selectedFile.name }}
      <mat-icon (click)="channelService.cancelFile()" class="close-btn"
        >close</mat-icon
      >
    </div>
    <textarea
      [(ngModel)]="channelService.message"
      placeholder="Nachricht an #{{
        this.channelService.currentChannel?.channelName
      }}"
    ></textarea>
    <div class="add-elements">
      <mat-icon (click)="fileInput.click()">add</mat-icon>
      <div class="divider"></div>
      <mat-icon (click)="textEditorService.selectEmoji()"
        >sentiment_satisfied</mat-icon
      >
      <mat-icon (click)="textEditorService.toggleUserList()"
        >alternate_email</mat-icon
      >
    </div>
    <mat-icon
      class="send-btn"
      (click)="
        channelService.sendMessage(channelService.message, currentChannelID)
      "
      >send</mat-icon
    >
    <emoji-mart
      [isNative]="true"
      (emojiSelect)="textEditorService.addEmoji($event)"
      class="emoji-picker"
      *ngIf="textEditorService.pickEmoji"
      emoji="point_up"
      [darkMode]="false"
    ></emoji-mart>
  </div>
  <div class="user-list" *ngIf="textEditorService.showUserList">
    <ul>
      <li
        *ngFor="let username of channelService.allChannelMembers"
        (click)="textEditorService.addUserToMessage(username.displayName)"
      >
        @{{ username.displayName }}
      </li>
    </ul>
  </div>
</div>
