<div class="channel-content">
  <div class="header">
    <div class="headline align-center">
      <mat-icon>tag</mat-icon><span>{{ currentChannel?.channelName }}</span>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
    <div class="add-members">
      <div (click)="openShowMembersDialog()" class="members-preview" [class.dialog-opened]="isMembersDialogOpen">
        <img src="assets/img/Members preview.png" />
        <span>{{ memberNumber }}</span>
      </div>
      <mat-icon (click)="openAddMemberDialog()">person_add</mat-icon>
    </div>
  </div>
  <div class="message-content">
    <div class="messages-container">
      <div
        *ngFor="let message of allMessages; let i = index"
        class="flex-end"
        [ngStyle]="{
          'align-items':
            message.messagedAuthor === authService.userData.displayName
              ? 'flex-end'
              : 'flex-start'
        }"
      >
        <ng-container>
          <ng-container
            *ngIf="i === 0 || isNewDate(allMessages[i - 1], message)"
          >
            <div class="date-divider">
              <span>{{
                channelService.getFormattedDateFromTimestamp(
                  message.createdDate
                )
              }}</span>
            </div>
          </ng-container>

          <div
            [ngStyle]="{
              'flex-direction':
                message.messagedAuthor === authService.userData.displayName
                  ? 'row-reverse'
                  : 'row'
            }"
            class="row-reverse"
          >
            <div>
              <img src="assets/img/00c.Charaters.png" />
            </div>
            <div>
              <div
                [ngStyle]="{
                  'flex-direction':
                    message.messagedAuthor !== authService.userData.displayName
                      ? 'row-reverse'
                      : 'row'
                }"
                class="author-with-date"
              >
                <span>{{
                  channelService.getFormattedTimeFromTimestamp(
                    message.createdDate
                  )
                }}</span>
                <h3>{{ message.messagedAuthor }}</h3>
              </div>
              <span
                class="message"
                [ngStyle]="{
                  'background-color':
                    message.messagedAuthor !== authService.userData.displayName
                      ? '#eceefe'
                      : '',
                  color:
                    message.messagedAuthor !== authService.userData.displayName
                      ? 'black'
                      : ''
                }"
                >{{ message.channelMessage }}</span
              >
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="text-editor">
    <textarea
      [(ngModel)]="channelService.message"
      placeholder="Nachricht an #{{ currentChannel?.channelName }}"
    ></textarea>
    <div class="add-elements">
      <mat-icon>add</mat-icon>
      <div class="divider"></div>
      <mat-icon>sentiment_satisfied</mat-icon>
      <mat-icon>alternate_email</mat-icon>
    </div>
    <mat-icon
      class="send-btn"
      (click)="
        channelService.sendMessage(channelService.message, currentChannelID)
      "
      >send</mat-icon
    >
  </div>
</div>
