.search-bar {
  position: relative;

  input {
    border-radius: 32px;
    padding: 18px 45px;
    font-size: 1.5rem;
    width: 500px;
    border: none;

    &:focus {
      outline: unset;
    }
  }

  mat-icon {
    position: absolute;
    top: 20px;
    right: 15px;
    color: #686868;
  }
}

.search-result-container {
  position: absolute;
  overflow: auto;
  background-color: #fff;
  border: 1px solid #adb0d9;
  top: 68px;
  border-radius: 30px;
  max-height: 250px;
  width: calc(100% - 20px);
  z-index: 999;
  padding: 20px 10px;

  .span-result {
    padding: 10px;
    border-radius: 30px;
    font-size: 1.125rem;
    cursor: pointer;

    &:hover {
      background-color: #eceefe;
    }
  }
}

.search-input-mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  .search-input-desk {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .search-input-mobile {
    width: 190px !important;
  }
}

@media screen and (max-width: 280px) {
  .search-input-desk {
    display: none;
  }

  .search-bar {
    mat-icon {
      top: 12px;
    }
  }

  .search-input-mobile {
    display: block;
    border: 1px solid rgba(173, 176, 217, 1) !important;
    padding: 8px 24px !important;
    border-radius: 42px !important;
    width: 190px !important;
  }
}
