.search-bar {
  position: relative;

  input {
    border-radius: 32px;
    padding: 18px 45px;
    font-size: 1.5rem;
    width: 500px;
    border: none;

    &:focus {
      outline: unset;
    }
  }

  mat-icon {
    position: absolute;
    top: 20px;
    right: 15px;
    color: #686868;
  }
}
