<div class="search-bar">
  <input
    [(ngModel)]="searchService.searchText"
    (input)="search()"
    placeholder="Code learning durchsuchen"
  />
  <div
    *ngIf="searchService.searchText"
    class="search-result-container flex-column"
  >
    <span
      class="span-result"
      *ngFor="let result of searchService.searchResults"
    >
      <ng-container *ngIf="result.displayName">
        <span (click)="openUserDetails(result)">
          Benutzer: <span style="color: blue">{{ result.displayName }}</span></span
        >
      </ng-container>
      <ng-container *ngIf="result.channelMessage">
        <span
          (click)="clearSearchInput()"
          [routerLink]="'/home/' + result.channelID"
        >
          Von: <span style="color: blue">{{ result.messagedAuthor }}:</span>
          {{ result.channelMessage }}<br />
          in: <span style="color: blue">{{ result.channelName }}</span>
        </span>
      </ng-container>
    </span>
    <span *ngIf="searchService.searchResults.length === 0"
      >Keine Übereinstimmung gefunden!</span
    >
  </div>
  <mat-icon>search</mat-icon>
</div>
