.search-bar {
  input {
    border-radius: 32px;
    padding: 18px 45px;
    font-size: 1.5rem;
    width: calc(100% - 90px);
    border: none;

    &:focus {
      outline: unset;
    }
  }

  mat-icon {
    position: absolute;
    top: 20px;
    right: 25px;
    color: #686868;
  }
}
