.choose-avatar-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  display: flex;
  align-items: center;
  height: 605px;
  width: 606px;
  border-radius: 30px;
  gap: 25px;
  background-color: #ffff;

  mat-card-header {
    margin-top: 18px;

    h1 {
      text-align: center;
      color: #444df2;
      font-size: 2.8rem;
      font-weight: 700;
    }
  }

  .back-arrow {
    position: absolute;
    top: 30px;
    left: 32px;

    &:hover {
      cursor: pointer;
    }
  }
}

mat-card-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.avatar-and-name {
  align-items: center;
  gap: 15px;

  img {
    width: 168px;
    height: 168px;
    border-radius: 100%;
    object-fit: cover;
  }

  span {
    font-size: 2rem;
    font-weight: 700;
  }
}

.list-of-avatars {
  gap: 8px;

  span {
    font-size: 1.25rem;
  }
}

.avatars {
  display: flex;
  gap: 8px;
  transition: ease-in-out 75ms;

  img {
    border-radius: 100%;
    border: 3px solid transparent;

    &:hover {
      cursor: pointer;
      border-color: lightgrey;
      transition: ease-in-out 75ms;
    }
  }
}

.choose-own-image {
  display: flex;
  align-items: center;
  gap: 24px;

  span {
    font-size: 1.25rem;
  }

  button {
    border-radius: 25px;
    border: 1px solid #444df2;
    color: #444df2;
    background-color: #ffff;
    padding: 12px 25px;
    font-size: 1.125rem;
    font-weight: 700;
    transition: ease-in-out 125ms;

    &:hover {
      cursor: pointer;
      background-color: #444df2;
      color: #ffff;
      transition: ease-in-out 125ms;
    }
  }
}

.continue-btn-container {
  display: flex;
  justify-content: flex-end;

  button {
    background-color: #444df2;
    color: #ffff;
    border: unset;
    border-radius: 25px;
    padding: 12px 25px;
    font-weight: 700;
    transition: ease-in-out 75ms;

    &:hover {
      cursor: pointer;
      opacity: 0.6;
      transition: ease-in-out 75ms;
    }
  }
}

.logo-container {
  position: absolute;
  top: 25px;
  left: 25px;

  img {
    height: 45px;
  }
}

@media screen and (max-width: 1000px) {
  .logo-container {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 25px;
    left: 0;
    right: 0;
  }
}

@media screen and (max-width: 540px) {
  mat-card {
    width: 530px;
  }

  .logo-container {
    top: 7px;
  }
}

@media screen and (max-width: 480px) {
  mat-card {
    width: 475px;

    .back-arrow {
      top: 15px;
      left: 15px;
    }
  }
}

@media screen and (max-width: 414px) {
  mat-card {
    height: 495px;
    width: 345px;

    mat-card-header {
      h1 {
        font-size: 2rem;
      }
    }
  }

  .avatar-and-name {
    img {
      height: 100px;
      width: 100px;
    }
  }

  .list-of-avatars {
    span {
      font-size: 1rem;
    }
  }

  .avatars {
    img {
      width: 40px;
    }
  }

  button {
    font-size: 1rem;
  }
}

@media screen and (max-width: 360px) {
  .logo-container {
    top: 7px;
  }

  button {
    font-size: 1rem;
  }
}

@media screen and (max-width: 320px) {
  mat-card {
    height: 370px;
    width: 305px;
    gap: unset;

    mat-card-header {
      h1 {
        font-size: 2rem;
      }
    }
  }

  mat-card-content {
    gap: 5px;
  }

  .avatar-and-name {
    span {
      font-size: 1rem;
    }

    img {
      height: 75px;
      width: 75px;
    }
  }

  .logo-container {
    top: 5px;
  }

  .list-of-avatars {
    span {
      font-size: 1rem;
    }
  }

  .avatars {
    img {
      width: 30px;
    }
  }

  .choose-own-image {
    span {
      font-size: 0.8rem;
    }

    button {
      font-size: 1rem;
      padding: 0px 25px;
    }
  }
}

@media screen and (max-width: 280px) {
  mat-card {
    height: 500px;
    width: 270px;
  }

  .avatar-and-name {
    img {
      height: 120px;
      width: 120px;
    }
  }

  .logo-container {
    top: 15px;
  }
}
