.success {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(68, 77, 242, 1);
  height: 100%;
  gap: 18px;

  h1 {
    color: #ffff;
    padding: unset;
  }
}
