@import "@ctrl/ngx-emoji-mart/picker";

html,
body {
  height: 100%;
  background-color: #eceefe;
  font-family: "Nunito", sans-serif !important;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-center {
  text-align: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  display: flex;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.gap-25 {
  display: flex;
  gap: 25px;
}

.close-btn {
  height: 40px !important;
  width: 40px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  transition: ease-in-out 125ms;

  &:hover {
    cursor: pointer;
    background-color: #eceefe;
    color: #535af1;
    border-radius: 100%;
    transition: ease-in-out 125ms;
  }
}

.add-channel-dialog {
  height: 539px;
  width: 872px;
}

.add-user-dialog {
  height: 300px;
  width: 710px;
}

.add-member-dialog {
  width: 514px;
  height: 294px;
  position: absolute !important;
  right: 65px;
  top: 200px;

  .mat-mdc-dialog-surface {
    border-radius: 30px 0px 30px 30px !important;
  }
}

.show-members-dialog {
  width: 415px;
  height: 411px;
  position: absolute !important;
  right: 115px;
  top: 200px;

  .mat-mdc-dialog-surface {
    border-radius: 30px 0px 30px 30px !important;
  }
}

.member-details-dialog {
  width: 500px;
  height: 705px;

  .mat-mdc-dialog-surface {
    border-radius: 30px 30px 30px 30px !important;
  }
}

.edit-member-dialog {
  width: 500px;
  height: 698px;
  position: absolute !important;
  top: 105px;
  right: 20px;

  .mat-mdc-dialog-surface {
    border-radius: 30px 30px 30px 30px !important;
  }
}

.logout-dialog {
  position: absolute !important;
  top: 105px;
  right: 20px;
  width: 282px;
  height: 181px;

  .mat-mdc-dialog-surface {
    border-radius: 30px 0px 30px 30px !important;
  }
}

.profile-dialog {
  width: 500px;
  height: 600px;
  position: absolute !important;
  top: 105px;
  right: 20px;

  .mat-mdc-dialog-surface {
    border-radius: 30px 30px 30px 30px !important;
  }
}

.channel-details-dialog {
  width: 872px;
  height: 616px;
  position: absolute !important;
  top: 189px;
  left: 468px;

  .mat-mdc-dialog-surface {
    border-radius: 0px 30px 30px 30px !important;
  }
}

.send-mail-dialog {
  width: 269px;
  height: 70px;
  position: relative !important;
  top: 160px;
  left: 120px;

  .mat-mdc-dialog-surface {
    border-radius: 30px 30px 0px 30px !important;
  }
}

.signUp-success-dialog {
  width: 323px;
  height: 70px;
  position: relative !important;
  top: 240px;
  left: 142px;

  .mat-mdc-dialog-surface {
    border-radius: 30px 30px 0px 30px !important;
  }
}

.mat-mdc-dialog-surface {
  border-radius: 30px !important;
}

.d-none {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

.blue-text {
  color: blue;
}

.width-100 {
  width: 100% !important;
}

.emoji-picker {
  position: absolute;
  bottom: 65px;
  left: 75px;
}

.message-image {
  max-height: 135px;
}
