html,
body {
  height: 100%;
  background-color: #eceefe;
  font-family:'Nunito', sans-serif !important;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-center {
  text-align: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  display: flex;
  align-items: center;
}

.gap-25 {
  display: flex;
  gap: 25px;
}

.add-channel-dialog {
  height: 539px;
  width: 872px;
}

.add-user-dialog {
  height: 300px;
  width: 710px;
}

.mat-mdc-dialog-surface {
  border-radius: 30px !important;
  overflow: hidden !important;
}
