.login-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  display: flex;
  align-items: center;
  height: 423px;
  width: 692px;
  border-radius: 30px;
  gap: 52px;
  background-color: #ffff;

  mat-card-header {
    margin-top: 18px;

    h1 {
      text-align: center;
      color: #444df2;
      font-size: 2.8rem;
      font-weight: 700;
    }
  }

  mat-card-content {
    .login-form {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 40px;

      input {
        width: 400px;
        border-radius: 100px;
        padding: 18px 50px;
        border: unset;
        background-color: #eceefe;

        &:hover {
          cursor: pointer;
          border: 1px solid black;
        }

        &:focus {
          outline: 1px solid #444df2;
        }
      }
    }
  }

  .back-arrow {
    position: absolute;
    top: 30px;
    left: 32px;

    &:hover {
      cursor: pointer;
    }
  }
}

.reset-password-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  button {
    width: 188px;
    height: 49px;
    border-radius: 25px;
    padding: 12px 25px;
    color: #ffff;
    background-color: #444df2;
    border: none;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}

.logo-container {
  position: absolute;
  top: 25px;
  left: 25px;

  img {
    height: 45px;
  }
}

[disabled] {
  background-color: #686868 !important;
  cursor: not-allowed !important;
}

@media screen and (max-width: 1000px) {
  mat-card {
    width: 590px;
  }

  .logo-container {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 25px;
    left: 0;
    right: 0;
  }
}

@media screen and (max-width: 540px) {
  mat-card {
    height: 565px;
    width: 530px;

    mat-card-header {
      h1 {
        margin: unset;
      }
    }

    mat-card-subtitle {
      color: black;
    }
  }

  .logo-container {
    top: 17px;
  }
}

@media screen and (max-width: 480px) {
  mat-card {
    height: 560px;
    width: 530px;

    mat-card-content {
      .login-form {

        input {
          width: 365px;
        }
      }
    }

    .login-with-google-btn {
      width: 465px;
    }
  }

  .logo-container {
    top: 25px;
  }
}

@media screen and (max-width: 414px) {
  mat-card {
    height: 495px;
    width: 345px;

    mat-card-header {
      margin-top: 5px;

      h1 {
        font-size: 2.5rem;
      }
    }

    .back-arrow {
      top: 15px;
      left: 15px;
    }

    mat-card-subtitle {
      font-size: 0.9rem;
    }

    mat-card-content {
      .login-form {
        input {
          width: 240px;
        }
      }
    }
  }

  .logo-container {
    top: 13px;
  }
}

@media screen and (max-width: 360px) {
  mat-card {
    height: 495px;
    width: 345px;

    mat-card-header {
      margin-top: 5px;

      h1 {
        font-size: 2.5rem;
        margin: unset;
      }
    }

    mat-card-content {
      .login-form {
        input {
          width: 240px;
        }
      }
    }
  }

  .logo-container {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 13px;
    left: 0;
    right: 0;
  }
}

@media screen and (max-width: 320px) {
  mat-card {
    height: 360px;
    width: 305px;

    mat-card-header {
      margin-top: 5px;

      h1 {
        font-size: 2rem;
        margin: unset;
      }
    }

    mat-card-subtitle {
      font-size: 0.7rem;
    }

    mat-card-content {
      .login-form {
        input {
          width: 200px;
          height: 5px;
        }
      }
    }
  }

  .logo-container {
    top: 7px;
  }
}

@media screen and (max-width: 280px) {
  mat-card {
    width: 270px;

    mat-card-content {
      .login-form {
        input {
          width: 165px;
        }
      }
    }
  }

  .logo-container {
    top: 28px;
  }
}
